# frontend/.env.local
# Person A will give you these URLs after deploying the Lambdas.
# Copy this file to .env.local and fill in the real values.
# .env.local is gitignored — never commit real URLs.

REACT_APP_UPLOAD_URL=https://gkflvib3kj6fcsf7jdgoucg66m0lsrsp.lambda-url.us-east-1.on.aws/
REACT_APP_QUIZ_URL=https://2z6as6xrcozizucl2knynd2y7i0xmgao.lambda-url.us-east-1.on.aws/
REACT_APP_MAIN_URL=https://qcjoawokvwqsnm7xttf6mxt3oa0dbxxp.lambda-url.us-east-1.on.aws/
